
@font-face {
  font-family: "Amaranth";
  src: url("/res/font/Amaranth-Regular.ttf");
}
@font-face {
  font-family: "Amaranth Bold";
  src: url("/res/font/Amaranth-Bold.ttf");
}
@font-face {
  font-family: "Amaranth Italic";
  src: url("/res/font/Amaranth-Italic.ttf");
}
@font-face {
  font-family: "Amaranth BoldItalic";
  src: url("/res/font/Amaranth-BoldItalic.ttf");
}

body {
  display: block;
  font-family: "Amaranth";
  padding: 0 10px;
  background-color: #f0e68c;
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-image: url("/res/desert_cracks_d.jpg");
  opacity: 0.1;
}

.title-box, div.title {
  display: flex;
  gap: 10px;
}

.title-box {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: #485e50a7;
  width: 100%;
  border-radius: 5px;
}

.title {
  font-size: 3em;
  margin: auto;
}

.main-box {
  display: grid;
  padding: 10px 0;
  gap: 10px;
}

.box {
  border: solid;
  border-radius: 5px;
  padding: 0 20px 0 20px;
  background-color: #ffffff3f
}

.flex-col {
  grid-column: span 2;
}

.l-col {
  grid-column: 1;
}

.r-col {
  grid-column: 2;
}

.footer {
  text-align:center;
}

.footer-line {
  margin-bottom: 5px;
}

p {
  font-size: 1.5em;
}

.small {
  font-size: 100%;
}

ul {
  font-size: 1.5em;
}

.center {
  text-align: center;
}

tt, .terminal {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3px;
  border-radius: 3px;
}

.terminal {
  font-family: monospace;
}

.indent {
  text-indent: 30px;
}
