
@font-face {
  font-family: "Amaranth";
  src: url("/data/font/Amaranth-Regular.ttf");
}
@font-face {
  font-family: "Amaranth Bold";
  src: url("/data/font/Amaranth-Bold.ttf");
}
@font-face {
  font-family: "Amaranth Italic";
  src: url("/data/font/Amaranth-Italic.ttf");
}
@font-face {
  font-family: "Amaranth BoldItalic";
  src: url("/data/font/Amaranth-BoldItalic.ttf");
}

body {
  display: block;
  background-image: url("/data/background.png");
  font-family: "Amaranth";
}

.title-box {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: #485e50a7;
  text-align: center;
}

.title {
  display: inline;
  font-size: 3em;
}

p {
  font-size: 2em;
}

ul {
  font-size: 1.5em;
}
