/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM CSS */

/* GENERAL */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #f2f2f2;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 95%;
    margin: 0 auto;
}

/* GRID */

.row {
    margin: 0 0 20px 0;
}

.col-4, .col-6, .col-12 {
    display: block;
    width: 100%;
}

/* LAYOUT */

#header {
    padding: 20px 0;
    background-color: #e74c3c;
    background: linear-gradient(to bottom left, #c13223, #e74c3c) #e74c3c;
    color: #ffffff;
    text-align: center;
}

#home {
    padding: 80px 0;
}

#content {
    padding: 40px 0;
    font-size: 1.1rem;
}

#footer {
    padding: 20px 0;
    background-color: #333333;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: underline;
}

/* MENU */

#navbar ul {
    color: #ffffff;
    text-align: center;
}

#navbar ul li {
    display: inline-block;
}

#navbar ul li a {
    display: block;
    border-radius: 4px;
    padding: 20px 30px;
    color: #ffffff;
    text-transform: uppercase;
    transition: opacity 0.5s;
}

#navbar ul li a:hover {
    background-color: #ffffff;
    color: #333;
    text-decoration: none;
}

/* TEXT */

h1, h2 {
    margin-bottom: 20px;
    font-weight: normal;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
	font-size: 1.6rem;
}

p {
    line-height: 1.4rem;
}

ul li:not(:last-child) {
	margin-bottom: 10px;
}

a {
    color: #e74c3c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.descr {
    font-style: italic;
    font-size: 0.75rem;
}

/* BUTTONS */

a.btn {
    display: inline-block;
}

a.btn:hover {
    text-decoration: none;
}

.btn {
    margin: 10px;
    padding: 30px 30px;
    border: 2px solid transparent;
    border-radius: 40px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    text-transform: uppercase;
    cursor: pointer;
}

.btn-primary {
    background-color: #333333;
    color: #ffffff;
    transition: background-color 0.5s;
}

.btn-primary:hover {
    background-color: #ffffff;
    color: #333;
}

.btn-secondary {
    border-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
    transition: background-color 0.5s;
}

.btn-secondary:hover {
    background-color: #ffffff;
    color: #333;
}

/* COMPONENTS */

.card {
    display: inline-block;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #ffffff;
    transition: opacity 0.5s;
}

.card:hover {
    opacity: 0.6;
}

.card h2 {
	margin-bottom: 0;
}

.modal {
	position: fixed;
	z-index: 99999;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background: rgba(0, 0, 0, 0.3);
  	opacity: 0;
  	pointer-events: none;
}

.modal:target {
  	opacity: 1;
  	pointer-events: auto;
}

.modal > div {
  	width: 85%;
  	position: relative;
	margin: 10% auto;
  	border-radius: 4px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  	background-color: #ffffff;
	color: #333333;
	text-align: left;
}

.modal-header {
	border-radius: 4px 4px 0 0;
	padding: 20px;
	text-transform: uppercase;
	background: #f7f7f7;
}

.modal-content {
	padding: 40px 20px;
}

.modal-content h3 {
	margin-bottom: 10px;
}

.modal-content ul {
	margin-left: 25px;
	margin-bottom: 10px;
}

.modal-content li {
	list-style: disc;
}

a.close {
	position: absolute;
	right: 2%;
	line-height: 1;
	font-size: 1.5rem;
	color: #dddddd;
	text-decoration: none;
}

a.close:hover {
	color: #222222;
}

/* VARIOUS */

.github-stats {
	margin-bottom: 20px;
	padding: 10px;
	font-size: 1.4rem;
}

#faqs dt {
    cursor: pointer;
}

#faqs dd {
    margin-top: 25px;
}

#faqs dt::before , #faqs .expanded::before {
	font-family: FontAwesome;
}

#faqs dt::before {
	content: "\f067\00a0";
}

#faqs .expanded::before {
	content: "\f068\00a0";
}

.contributor {
    margin: 10px;
    text-align: center;
}

.contributor img {
    height: 50px;
    margin-bottom: 10px;
    transition: opacity 0.5s;
}

.contributor-login {
    margin-bottom: 10px;
    font-style: italic;
}

.icon {
	margin-top: 20px;
    padding: 15px;
    font-size: 1.6rem;
    text-align: center;
    transition: opacity 0.5s;
}

.icon:hover {
    opacity: 0.6;
}

.icon i {
    margin-bottom: 20px;
	font-size: 4rem;
}

.command-line {
	margin-bottom: 5px;
	padding: 5px;
	display: block;
	border-radius: 4px;
	background-color: #333333;
	color: #ffffff;
}

.command-line::before {
	content: "> ";
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
    max-width: 100%;
    max-height: 100%;
}

/* HELPERS */

.text-upper {
	text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.fa-heart {
    color: #e74c3c;
}

/* DESKTOP SCREEN */

@media screen and (min-width: 1024px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }

    .col-12 {
        display: block;
        width: 100%;
    }

    .col-6 {
        display: inline-block;
        vertical-align: top;
        width: calc(100% / 2 - 0.5%);
        margin-right: 1%;
    }

    .col-6:last-child {
        margin-right: 0;
    }

    .col-4 {
        display: inline-block;
        vertical-align: top;
        width: calc(100% / 3 - 1%);
        margin-right: 1%;
    }

    .col-4:last-child {
        margin-right: 0;
    }

	.modal > div {
	  	width: 45%;
	}
}
